.page-legal {
  padding-bottom: 30px;

  .border-legal {
    border-bottom: 1px solid $gray-03;
    padding-bottom: 10px;

    @include max-width(md) {
      font-size: 16px;
    }
  }

  .legal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 10px;
    padding: 0 16px;

    @include max-width(lg) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    p {
      font-size: 16px;
      color: #707070;
      font-family: "Hiragino Kaku Gothic ProN",
        "ヒラギノ角ゴ ProN W3",
        Meiryo,
        "MS PGothic",
        Sans-serif;
      white-space: pre-wrap;
      font-weight: 500 !important;

      @include max-width(lg) {
        font-size: 14px;
      }
    }



    .legal-title {
      color: #707070;
      margin-right: 10px;
      text-decoration: underline;
      font-size: 16px;
      font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
        "MS PGothic", Sans-serif;

      @include max-width(lg) {
        font-size: 14px;
      }
    }
  }
}