$bg-primary: #f3f6fa;
$primary: #466cb0;
$primary-02: #1da3ee;
$primary-03: #1778f2;
$primary-04: #f6fcff;
$primary-05: #1d9afb;
$primary-06: #e5f6ff;
$primary-07: #58bcd6;
$primary-08: #759bdf;
$primary-09: #1ca1f2;
$primary-10: #1877f2;
$primary-11: #ceddf8;

$gray-01: #efefef;
$gray-02: #bbbbbb;
$gray-03: #cccccc;
$gray-04: #999999;
$gray-05: #989898;
$gray-06: #666666;
$gray-07: #f3f1f1;
$gray-08: #eeeeee;

$black: #333333;

$red: #d84646;
$red-02: #ff0042;

$success: #06c857;
$success-02: #00b900;

$pupple: #c954c9;

$pink: #e6156c;

$dark: #333333;

$yellow: #eeff00;

$grey-color: #707070;