.about-project {
  .card {
    border: none;
    margin-bottom: 24px;
    .card-body {
      padding: 24px 16px;
      @include min-width(md) {
        padding-bottom: 58px;
      }
      .form-des {
        padding: 0px 40px 0px 40px;
        @include max-width(lg) {
          padding: 0px;
        }
      }
      .form-title {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 16px;
      }
      .form-group {
        margin: auto;
        margin-top: 16px;
        label {
          color: $primary;
          font-size: 13px;
          padding-bottom: 16px;
          .ic-required {
            color: $red;
            padding-left: 5px;
          }
          .required {
            color: white;
            background-color: $red;
            line-height: 20px;
            font-size: 10px;
            font-weight: bold;
            padding: 0 5px;
            border-radius: 2px;
            margin-left: 6px;
          }
        }
        input {
          &.form-control {
            height: auto;
            font-size: 13px;
            color: black;
            padding: 18px 0 19px 19px;
            background-color: $gray-01;
            border: none;
            &::placeholder {
              color: $gray-02;
            }
          }
          &.error {
            background: #f9dddd;
            border: 2px solid #d84646;
          }
        }
        textarea {
          font-size: 13px;
          background-color: $gray-08;
          border: none;
          margin-bottom: 4px;
          padding: 15px 19px;
          &::placeholder {
            color: $gray-02;
          }
          &.error {
            background: #f9dddd;
            border: 2px solid #d84646;
          }
        }
        .validation {
          color: #d84646;
          font-size: 13px;
          margin-top: 20px;
        }
        .input-note {
          color: $gray-04;
          padding: 8px 0 12px 0;
          font-size: 11px;
          p {
            margin-bottom: 0;
          }
        }
        .request-date {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 55%;
          @include max-width(sm) {
            width: 100%;
          }
          > input {
            padding: 19px 0 18px 15px;
          }
          .input-group-append {
            button {
              background-color: $gray-01;
              border: none;
              padding: 0 15px;
              svg {
                color: black;
              }
            }
          }
        }
        &.target-amount {
          input {
            width: 50%;
          }
          .target-amount-input {
            display: flex;
            align-items: flex-end;
            width: 65%;
            @include max-width(sm) {
              width: 100%;
            }
            span {
              font-size: 16px;
              font-weight: bold;
              padding-left: 11px;
            }
          }
        }
      }
    }
  }
}
